<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include "base/partials/head.html" %}
    <title>Recipes</title>
</head>
<body>
    {% include "base/partials/header.html" %}
    {% include "base/partials/search.html" %}
    {% include "base/partials/main-card-list.html" %}
    <footer class="recipes-footer">
        <div class="container">
            <div>
                <a href="">By Maicon Souza</a>
            </div>
            <div>
                <a href="">Powerred Django</a>
            </div>
        </div>
    </footer>
</body>
</html>