<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include "base/partials/head.html" %}
    <title>Recipes</title>
</head>
<body>
    {% include "base/partials/header.html" %}
    {% include "base/partials/search.html" %}

    <main class="main-content-container">
        <div class="container">
            <ul class="main-list">
                <li class="card-recipes">
                    <article class="card-item">
                        <header class="recipes-cover">
                            <img src="https://placehold.co/1280x720/orange/white" alt="">
                        </header>
                    </article>
                </li>
                <li class="card-recipes">
                    <article class="card-item">
                        <header class="recipes-cover">
                            <img src="https://placehold.co/1280x720/orange/white" alt="">
                        </header>
                    </article>
                </li>
                <li class="card-recipes">
                    <article class="card-item">
                        <header class="recipes-cover">
                            <img src="https://placehold.co/1280x720/orange/white" alt="">
                        </header>
                    </article>
                </li>
                
            </ul>
        </div>
    </main>
</body>
</html>