/* ***** Configurações globais ***** */
:root {
            --color-primary: #269fe6;
            --color-primary-hover: #2086c2;
            --color-primary-dark: #13141f;
            --color-primary-dark-hover: #212336;
            --color-primary-light: #d4ecfa;
            --color-primary-light-hover: #bdd8e7;
            --color-white: #fff;
            --color-black: #000;
            --color-dark-text: #444;
            --color-info-light: #cce5ff;
            --color-debug-light: #cce5ff;
            --color-success-light: #d4edda;
            --color-alert-light: #fff3cd;
            --color-warning-light: #fff3cd;
            --color-error-light: #f8d7da;
            --color-info-dark: #4d86c4;
            --color-debug-dark: #4d86c4;
            --color-success-dark: #4a9c5d;
            --color-alert-dark: #927f40;
            --color-warning-dark: #927f40;
            --color-error-dark: #da525d;
            --color-gray-0: #f9f9f9;
            --color-gray-1: #e0e0e0;
            --color-gray-2: #c7c7c7;
            --color-gray-3: #aeaeae;
            --color-gray-4: #959595;
            --color-gray-5: #7d7d7d;
            --color-gray-6: #646464;
            --color-gray-7: #4b4b4b;
            --color-gray-8: #323232;
            --color-gray-9: #191919;
            --font-primary: sans-serif;
            --font-headings: 'Roboto Slab', serif;
            --spacing-gutter-medium: 3rem;
            --spacing-gutter-large: 4rem;
            --border-radius-default: 8px;
            --transiton-default: all 300ms ease-in-out;
        }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* configuração para 1rem equivaler 10px */
html {
    font-size: 62.5%;
}

body {
    font-family: 1.6rem;
    font-family: var(--font-primary);
    background-color: var(--color-gray-1);
    color: var(--color-dark-text);
}
/* fim da configuração do rem */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headings);
}

.container {
    max-width: 140rem;
    margin: 0 auto;
    padding: var(--spacing-gutter-medium);
}


/* ***** Configurações globais-end ***** */

/* ***** Header ***** */
.main-header-container {
    background-color: var(--color-primary-dark);
}

.main-header-container .main-logo {
    width: fit-content; /* para ocupar apenas o espaço dele dentro do container - no caso link ele ficaria clicavel toda a area*/
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap; /* flex-direction + flex-wra */
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 4rem;
    color: var(--color-white);
    text-decoration: none;
}


/* ***** Header-end ***** */

/* ***** Search ***** */
.search-container .container .search-form {
    max-width: 64rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    padding-inline: 1.5rem;
    border: .2rem solid var(--color-primary-dark);
    border-radius: var(--border-radius-default);
    transition: var(--transiton-default);
}

.search-container .container .search-form:focus-within {
    border-color: var(--color-primary);
    background-color: var(--color-white);
}

.search-container .container .search-form:focus-within .search-button {
    color: var(--color-primary);
    transition: var(--transiton-default);
}

.search-container .container .search-form .search-input, 
.search-container .container .search-form .search-button {
    border: none;
    background-color: transparent;
    outline: none;
}

.search-container .container .search-form .search-input {
    flex: 1;
    padding: 1.5rem;
}

.search-container .container .search-form .search-button:focus {
    outline: 1px solid var(--color-primary);
    background-color: var(--color-white);
}


/* ***** Search-end ***** */


/* ***** Main ***** */
.main-content-container .container .main-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
    gap: var(--spacing-gutter-large);
}

.main-content-container .container .main-list li.card-recipes {
   max-width: 64rem;
   background-color: var(--color-white);
   border-radius: var(--border-radius-default);
   overflow: hidden; 
   box-shadow: -5px 5px 15px rgba(0, 0, 0, .2);
   transition: var(--transiton-default);
}

.main-content-container .container .main-list li.card-recipes:hover {
    transform: scale(1.02);
   box-shadow: -8px 8px 18px rgba(0, 0, 0, .5);

}

/* .main-content-container .container .main-list .card-recipes article.card-item {
    
} */

.main-content-container .container .main-list li.card-recipes article.card-item header.recipes-cover img{
    max-width: 100%;
    object-fit: cover;
}

.main-content-container .container .main-list li.card-recipes article.card-item main.recipes-main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: var(--spacing-gutter-medium);
}

.main-content-container .container .main-list li.card-recipes article.card-item main.recipes-main .recipes-card-title-container h2 {
    font-size: 2rem;
    text-align: center;
}

.main-content-container .container .main-list li.card-recipes article.card-item main.recipes-main .recipes-card-author-container ul {
    display: flex;
    gap: .4rem;
}

.main-content-container .container .main-list li.card-recipes article.card-item main.recipes-main .recipes-card-author-container ul li span,
.main-content-container .container .main-list li.card-recipes article.card-item main.recipes-main .recipes-card-author-container ul li i {
    font-size: 1.2rem;
    color: var(--color-gray-4);
}

.main-content-container .container .main-list li.card-recipes article.card-item main.recipes-main .recipes-card-author-container ul li a span,
.main-content-container .container .main-list li.card-recipes article.card-item main.recipes-main .recipes-card-author-container ul li a i {
    color: var(--color-primary-dark);
    font-weight: 700;
    transition: var(--transiton-default);
}

.main-content-container .container .main-list li.card-recipes article.card-item main.recipes-main .recipes-card-author-container ul li a:hover span,
.main-content-container .container .main-list li.card-recipes article.card-item main.recipes-main .recipes-card-author-container ul li a:hover i {
    color: var(--color-primary);
}

.main-content-container .container .main-list li.card-recipes article.card-item main.recipes-main .recipes-card-description-container p {
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
}

.recipes-card-meta-container {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
}

.recipes-card-meta-container i,
.recipes-card-meta-container span {
    font-size: 2rem;
}

.recipes-card-meta-container .recipes-card-meta-duration,
.recipes-card-meta-container .recipes-card-meta-preparation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

.recipes-card-footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: var(--spacing-gutter-medium);
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    font-size: 1.4rem;
    transition: var(--transiton-default);
}

.recipes-card-footer a:hover {
    background-color: var(--color-primary-dark-hover);
}

/* ***** Main-end ***** */

/* ***** Footer ***** */
footer.recipes-footer {
    background-color: var(--color-primary-dark);
}

footer.recipes-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

footer.recipes-footer .container div a {
    font-size: 1.4rem;
    color: var(--color-primary);
}

footer.recipes-footer .container div a:hover {
    color: var(--color-info-light);
}

/* ***** Footer-end ***** */