:root {
  /* Fundo principal - Tom mais profundo */
  --bg-body: #0f172a; 

  /* Cards - Um tom levemente mais claro para dar profundidade */
  --bg-card: #1e293b;
  --border-card: #334155;

  /* Tipografia - Hierarquia clara */
  --text-title: #f8fafc;    /* Quase branco, foco total */
  --text-body: #94a3b8;     /* Cinza suave, leitura confortável */
  --text-muted: #64748b;    /* Para detalhes secundários */

  /* Destaque (Opcional) */
  --accent: #38bdf8;        /* Um azul vibrante para links ou botões */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--bg-body);
    color: var(--text-body);
}


.card {
    width: 90%;
    max-width: 57.5rem;
    margin: 3rem auto;
    background-color: var(--bg-card);
    border: 2px solid var(--border-card);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    overflow: hidden;
}

.card .card-img {
    width: 100%;
    overflow: hidden;
}


.card .card-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card .card-content p {
    line-height: 1.5;
}

.card .card-content button {
    padding: .5rem;
    width: fit-content;
    line-height: 1.5;
    font-weight: 900;

    background-color: var(--accent);
    color: var(--text-title);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

@media (min-width: 51.25rem) {
    .card {
        flex-direction: row;
    }
    
    img {
        height: 100%;
    }
}