.main-cards {
    min-height: 100dvh;
    padding: var(--padding-internal);
    background-color: var(--color-bg);
    

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content-cards {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    article {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        ul {
            display: flex;
            justify-content: space-between;
            gap: 2rem;
        }
    }
}

.card {
    max-width: 32rem;
    background-color: var(--color-bg-sidebar);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    img {
        width: 100%;
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
}