.main-form {
    min-height: 100dvh;
    padding: var(--padding-internal);
    background-color: var(--color-bg);
    opacity: .6;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-form .content-form {
    display: flex;
    gap: 2rem;
}

.main-form .content-form .form, .main-form .content-form .form .address {
    flex: 1;
}

.main-form .content-form .form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-form .content-form .form fieldset {
    border: none;
}

.main-form legend {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.main-form .message label {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.main-form .content-form .message {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-form .content-form .form .message .login {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main-form .content-form .form .message .login label {
    flex: 1;
}

.main-form .content-form .form .message .login label input, .main-form .content-form .form .quiz label select {
    padding: 1rem;
    border-radius: 8px;
}

.main-form .content-form .form .message  textarea {
    resize: none;
    border-radius: 8px;
}

.main-form .content-form .form .quiz .label-language span {
    font-size: 1.2rem;
}

.main-form .quiz .label-language {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.main-form .content-form .form .quiz {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-form .content-form .form .quiz .group-priority, .check {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-form .content-form .form .quiz .group-priority label, .check label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

