.header-root {
    height: 100dvh;
    padding: var(--padding-internal);
}

.header-root .nav-root {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header-root .nav-root .link-perfil-root {
    width: 6.10rem;
    align-self: flex-end;
}

.header-root .nav-root .link-perfil-root img {
    width: 100%;
}

.header-root .nav-root .list-root {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.header-root .nav-root .list-root li {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--text-button-color);
    text-align: end;
    cursor: pointer;
}

.header-root .nav-root .list-root li a {
    width: 100%;
    padding-block: .5rem;
    color: var(--text-button-color);
    transition: var(--transition);
}

.header-root .nav-root .list-root li a:hover {
    background-color: var(--color-bg);
}

.header-root .nav-root .list-root li a span {
    display: inline-block;
    transition: var(--transition);
}

.header-root .nav-root .list-root li a:hover span {
    transform: scale(1.1) translateX(-5px);
}