.main-list {
    min-height: 100dvh;
    padding: var(--padding-internal);
    background-color: var(--color-bg);
    opacity: .6;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-list .content-list .type-lists {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}

.main-list .content-list .type-lists > article {
    flex-basis: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-list .content-list .type-lists > article  ul, .main-list .content-list .type-lists > article  ol {
    all: revert; 
}

.unordered > li {
    list-style: circle;
}

.ordered > li{
    list-style: decimal;
}

.main-list .content-list .type-lists > article .alternating {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.alternating > li:nth-of-type(even) {
    width: 100%;
    border-bottom: 1px solid var(--text-color);
    border-top: 1px solid var(--text-color);
}

.aligned-list  li {
    list-style: disc;
}

.aligned-list-order > li {
    list-style: upper-roman;
}

.aligned-list-order > li > ul > li {
    list-style: decimal;
}

.aligned-list-order > li > ul > li > ul > li {
    list-style: lower-alpha;
}

.both > li {
    list-style: lower-roman;
}
.both > li > ul > li {
    list-style-type: "😀"
}





