.main-home {
    height: 100dvh;
    padding: var(--padding-internal);
    background-color: var(--color-bg);
    opacity: .6;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-home h1 {
    margin-bottom: 3rem;
    color: var(--text-button-color);
}

.main-home article {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.main-home article a {
    color: var(--primary-color);
}

.main-home article p {
    margin-top: 1rem;
}

.main-home .social {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-home .social address ul {
    display: flex;
    gap: 2rem;
}

.main-home .social address ul li a {
    color: var(--text-color);
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    transition: var(--transition);
}

.main-home .social address ul li a:hover {
    color: var(--primary-color);
}