.main-typography {
    min-height: 100dvh;
    padding: var(--padding-internal);
    background-color: var(--color-bg);
    opacity: .6;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.main-typography .content-typography {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-typography .content-typography article p, .main-typography .content-typography article blockquote p {
    line-height: 1.8;
}

.main-typography .content-typography article p > u {
    text-decoration: red wavy underline;
}