@import url('./global.css');

header#hero {
    height: 25rem;
    padding: 1rem;
    background-image: url('../images/bg-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    gap: 5rem;

    nav {
        display: flex;
        justify-content: flex-end;

        ul {
            display: flex;
            align-items: center;
            gap: 1rem;

            li a {
                display: block;
                background-color: var(--color-bg-button-nav);
                color: var(--color-bg-card);
                padding: .5rem 1rem;
                border: 1px solid var(--color-bg-card);
                border-radius: 12px;
            }
        }
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 3rem;
            text-transform: uppercase;
            color: var(--color-bg-card);
        }

        p {
            padding: 1rem;
            background-color: rgba(0, 0, 0, 0.5);
            color: var(--color-bg-card);
            border-bottom: 3px solid var(--color-bg-card);
            border-radius: 3px;
        }
    }
}

main#content {
    padding: 1rem;

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        li {
            flex: 1;
            width: 80%;
            padding: 1rem;
            background-color: var(--color-bg-card);
            border-radius: 12px;

            article {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                header {
                    padding: .5rem;
                    border-radius: 12px;
                }

                footer {
                    align-self: flex-start;
                    a {
                        display: block;
                        padding: .5rem 1rem;
                        border-radius: 12px;
                    }
                }
            }
        }
    }
}

footer#end {
    height: 8rem;
    padding: 1rem;
    background-color: var(--color-bg-footer);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-bg-card);
}


@media (max-width: 768px) {
    header#hero {
        .title {
            gap: 1rem;

            h1 {
                font-size: 1.7rem;
            }

            p {
                font-size: .8rem;
            }
        }
    }

    main#content {
        ul {
            li {
                width: 100%;

                article {
                    section {
                        p {
                            line-height: 1.8;
                        }
                    }
                }
            }
        }
    }
}