@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --color-primary: #cbe200;
    --color-white: #fff;
    --color-bg: #0c1013;
    --color-bg-card: #21262c;
    --color-bg-header: #060709;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    height: 100dvh;
    background-color: var(--color-bg);
    color: var(--color-white);
    font-family: "Lato", sans-serif;
}

main {
    width: 90%;
    max-width: 57.5rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    header.header-main {
        padding: 1rem;
        background-color: var(--color-bg-header);

        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 2.5rem;
        }
        nav ul {
            display: flex;
            gap: 1rem;

            li a {
                display: block;
                padding: .8rem .5rem;
                color: var(--color-white);
                font-weight: 700;
                border-radius: 8px;
            }

            li a.active {
                background-color: var(--color-primary);
                color: var(--color-bg-header);
            }
        }
    }

    h2 {
        font-size: 3rem;
        text-transform: uppercase;
        text-align: center;
    }

    .section-plans {
        >ul {
            display: flex;
            justify-content: center;
            gap: 1rem;

            li {
                width: 90%;
                max-width: 22rem;
                padding: 2rem;
                background-color: var(--color-bg-card);
                border-radius: 8px;

                article {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    gap: .8rem;

                    header {
                        h3 {
                            text-transform: uppercase;
                            border-bottom: 3px solid var(--color-primary);
                        }
                    }

                    .content {
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;

                        p {
                            font-size: 1.5rem;

                            span {
                                font-size: 1rem;
                            }
                        }

                        ul {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;
                        }
                    }
                }
            }
        }
    }
}