:root {
  /* Fundo principal - Tom mais profundo */
  --bg-body: #0f172a; 

  /* Cards - Um tom levemente mais claro para dar profundidade */
  --bg-card: #1e293b;
  --border-card: #334155;

  /* Tipografia - Hierarquia clara */
  --text-title: #f8fafc;    /* Quase branco, foco total */
  --text-body: #94a3b8;     /* Cinza suave, leitura confortável */
  --text-muted: #64748b;    /* Para detalhes secundários */

  /* Destaque (Opcional) */
  --accent: #38bdf8;        /* Um azul vibrante para links ou botões */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--bg-body);
    color: var(--text-body);

    h1 {
        color: var(--text-title);
        text-align: center;
        margin-block: 2rem;
    }
}

.cards-container {
    width: 90%;
    max-width: 45rem;
    margin: 0 auto;

    .card-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        .card-item {
            padding: 1rem;
            background-color: var(--bg-card);
            border: 2px solid var(--border-card);
            border-radius: 7px;

            article {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                a {
                     color: var(--accent);
                     font-weight: 900;
                }
            }
        }
    }
}

@media (min-width: 820px) {
    .cards-container {
        .card-list {
            flex-direction: row;
            line-height: 1.5;
        }
    }

}