*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    height: 100dvh;
    padding: 1rem;
}

ul {
    max-width: 1200px;  /* opcional: limite máximo */
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
}

li article {
    height: 100%;
    background-color: blanchedalmond;
    border-radius: 7px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

li article header img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

li article section {
    padding: 1rem;
    flex: 1;
}

li article footer {
    padding: 1rem;
}