.menu-hero {
    background-color: var( --color-background-top-header);
    background-image: url('../images/topo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-hero .menu-hero__div-menu {
    background-color: var(--color-background-top-header);
}

.menu-hero .menu-hero__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-hero .menu-hero__nav h1 {
    color: #fff;
}

.menu-hero .menu-hero__nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu-hero .menu-hero__nav ul li a {
    display: block;
    padding: 1rem;
}

.menu-hero .menu-hero__nav ul li a::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    margin-top: .5rem;
    background-color: #fff;
    transition: all .5s ease-in-out;
}

.menu-hero .menu-hero__nav ul li a:hover:after {
    width: 100%;
}