* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: #95a5a6;
}

form {
    width: 90%;
    max-width: 20.5rem;
    padding: 1rem;
    background-color: #ebf0f1;

    fieldset {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        border: none;

        legend {
            margin-bottom: 2rem;
            text-align: center;
        }

        div {
            display: flex;
            flex-direction: column;

            input {
                width: 100%;
                padding: .5rem;
                border-radius: 4px;
                font-size: 1rem;
            }
        }

        button {
            width: fit-content;
            padding: .5rem;
            background-color: aqua;
            border: none;
            border-radius: 4px;
            font-weight: 900;

            align-self: flex-end;

            cursor: pointer;
        }
    }
}