:root {
  --bg-dark: #121212; /* Um preto bem escuro, comum em dark modes (Material Design) */
  --bg-clear: #FFFFFF; /* Branco puro */
  --text-dark: #E0E0E0; /* Texto claro para fundo escuro */
  --text-clear: #303030; /* Texto/detalhe escuro para fundo claro (como você já usava) */
  --transition: all .5s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: grid;
    place-items: center;
    background-color: var(--bg-clear);
    transition: var(--transition);
}

body:has(input:checked) {
    background-color: var(--bg-dark);
}

label input {
    display: none;
}

label span {
    display: inline-block;
    width: 2rem;
    height: 1rem;
    border-radius: 1rem;
    border: 2px solid var(--bg-dark);
    background-color: var(--text-dark);
    transition: var(--transition);
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

label span::after {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--bg-dark);
    transition: var(--transition);
   
}

label input:checked + span {
    border-color: var(--bg-clear);
    background-color: var(--text-clear);
}

label input:checked + span::after {
    transform: translateX(100%);
    background-color: var(--bg-clear);
}