@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --color-primary: #cbe200;
    --color-white: #fff;
    --color-bg: #0c1013;
    --color-bg-card: #21262c;
    --color-bg-header: #060709;
    --color-primary-hover: #aabf00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;


    body {
        height: 100dvh;
        background-color: var(--color-bg);
        color: var(--color-white);
        font-family: "Lato", sans-serif;
    }

    main {
        width: 90%;
        max-width: 70.5rem;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    header.header-main {
        padding: 1rem;
        background-color: var(--color-bg-header);

        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 2.5rem;
        }

        nav ul {
            display: flex;
            gap: 1rem;
            list-style: none;

            li a {
                display: block;
                padding: .8rem .5rem;
                color: var(--color-white);
                font-weight: 700;
                border-radius: 8px;
            }

            li a.active {
                background-color: var(--color-primary);
                color: var(--color-bg-header);
            }
        }
    }

    h2 {
        font-size: 2.5rem;
        text-transform: uppercase;
        text-align: center;
    }

    .section-plans {
        ul.list-card {
            display: flex;
            justify-content: space-between;
            gap: 1.5rem;
            flex-wrap: wrap;
            list-style: none;

            li.card {
                width: 90%;
                max-width: 21.875rem;
            
                background-color: var(--color-bg-card);
                border-radius: 8px;

                article {
                    height: 100%;
                    padding: 2rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    header {
                        h3 {
                            padding: .5rem;
                            font-size: 1.5rem;
                            border-bottom: 3px solid var(--color-primary);
                        }
                    }

                    .content {
                        

                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        p {
                            font-size: 1.5rem;

                            span {
                                font-size: 1rem;
                            }
                        }

                        .list-advantages {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;
                            margin-left: 1rem;


                            li.advantage::marker {
                                color: var(--color-primary);
                            }
                        }
                    }

                    button {
                        margin-block-start: auto;
                        background-color: var(--color-primary);
                        padding: 1rem;
                        border: none;
                        border-radius: 8px;
                        font-weight: 900;
                        text-transform: uppercase;
                        transition: all .3s ease-in-out;
                        cursor: pointer;

                        &:hover {
                            outline: 1px solid var(--color-primary);
                            background-color: transparent;
                            color: var(--color-primary);
                        }
                    }
                }
            }
        }
    }
}