@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color-slate-700: #313846;
  --color-slate-800: #272D38;
  --color-slate-900: #1F242D;

  --color-white: #FFFFFF;
  --color-gray-100: #DEDCDB;
  --color-gray-300: #B4AFAD;

  --color-red-300: #E28997;
  --color-red-500: #D34F64;
  --color-red-700: #BA2E45;

  --color-teal-400: #42D0A8;
  --color-teal-600: #2CAF8A;
  --color-teal-800: #238C6E;


  --color-orange-100: #F3DEC2;
  --color-orange-300: #E4B581;
  --color-orange-500: #D8963F;
  --color-orange-600: #D89246;
  --color-orange-800: #BD7528;

  --color-blue-100: #CFDCED;
  --color-blue-300: #8EADD5;
  --color-blue-600: #5A87C2;

  --spacing-1: 0.25rem; /* 4px */
  --spacing-2: 0.5rem;  /* 8px */
  --spacing-3: 0.75rem; /* 12px */
  --spacing-4: 1rem;    /* 16px */
  --spacing-6: 1.5rem;  /* 24px */
  --spacing-8: 2rem;    /* 32px */

  --radius-default: 8px;
  --radius-md: 12px;
  --radius-full: 9999px;

  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  --font-xs: 0.75rem; /* 12px */
  --font-sm: 0.875rem; /* 14px */
  --font-base: 1rem;   /* 16px */
  --font-lg: 1.125rem; /* 18px */
  --font-xl: 1.25rem;  /* 20px */

  --transition-fast: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  --transition-normal: all 0.3s ease-in-out;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--color-slate-800);
}

.container {
    width: 90%;
    max-width: 67.3125rem;
    margin: 0 auto;
}

.btn {
    padding: var(--spacing-3) var(--spacing-6);
    border-radius: var(-radius-default);
    border: none;
    background-color: var(--color-blue-300);
    color: var(--color-white);
    font-weight: 700;
}

/* tablet */
@media (40rem <= width < 64rem){} 

/* desktop */
@media (width >= 64rem){} 