#header {
    padding: var(--spacing-4) 0;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav h1 a {
    color: var(--color-slate-800);
}

.header__menu-desktop {
    display: none;
}

.header__menu-mobile {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-4);

    background-color: rgb(0 0 0 / .7);
    z-index: 2;

    transform: scale(0);
    transition: var(--transition-normal);
}

.header__nav:has(.header__hamburguer-mobile input:checked) .header__menu-mobile {
    transform: scale(1);
}


.header__menu-mobile li a, ul li a {
    color: var(--color-white);
    font-size: var(--font-xl);
    font-weight: 900;
}

.header__hamburguer-mobile {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    z-index: 3;
}

.header__hamburguer-mobile input {
    display: none;
}

.header__hamburguer-mobile .line {
    width: 40px;
    height: 3px;
    background-color: var(--color-slate-800);
    transition: var(--transition-normal);
}

.header__nav:has(.header__hamburguer-mobile input:checked) .line:nth-child(2) {
    transform: translateY(11px) rotate(45deg);
    background-color: var(--color-red-700);
}
.header__nav:has(.header__hamburguer-mobile input:checked) .line:nth-child(3) {
    opacity: 0;
    transform: translateX(-20px);
}
.header__nav:has(.header__hamburguer-mobile input:checked) .line:nth-child(4) {
    transform: translateY(-11px) rotate(-45deg);
    background-color: var(--color-red-700);
}

/* tablet */
@media (40rem <= width < 64rem){
    .header__menu-mobile {
        display: none;
    }

    .header__hamburguer-mobile {
        display: none;
    }

    .header__menu-desktop {
        display: initial;
    }

    .header__menu-desktop {
        display: flex;
        align-items: center;
        gap: var(--spacing-8);
    }

    .header__menu-desktop li a {
        color: var(--color-slate-800);
    }
} 

/* desktop */
@media (width >= 64rem){
    .header__menu-mobile {
        display: none;
    }

    .header__hamburguer-mobile {
        display: none;
    }


    .header__menu-desktop {
        display: initial;
    }

    .header__menu-desktop {
        display: flex;
        align-items: center;
        gap: var(--spacing-8);
    }

    .header__menu-desktop li a {
        color: var(--color-slate-800);
    }
} 


