.main__do {
    margin-top: var(--spacing-6);
}

.main__do figure {
    display: none;
}

.main__do figure img {
    width: 100%;
}

.main__do_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-4);
}

.main__do_content h2 {
    font-size: 2rem;
    text-align: center;
}

.main__do_content p {
    text-align: center;
    line-height: 1.5;
}

/* tablet */
@media (40rem <= width < 64rem){
    .main__do figure {
        display: initial;
    }
} 

/* desktop */
@media (width >= 64rem){
    .main__do figure {
        display: initial;
    }
} 