.main__abount {
    margin-top: var(--spacing-6);
}

.main__abount figure img {
    width: 100%;
}

.main__abount_content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    justify-content: center;
}

.main__abount_content h2 {
    font-size: 2rem;
    text-align: center;
}

.main__abount_content img {
    align-self: flex-start;
}


/* tablet */
@media (40rem <= width < 64rem){} 

/* desktop */
@media (width >= 64rem){
    .main__abount_design .main__abount_content p {
        text-align: center;
    }
} 