.main__customers {
    margin-top: var(--spacing-6);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-4);
}

.main__customers h2 {
    font-size: 2rem;
    text-align: center;
}

.main__customers_list li article {
    padding: var(--spacing-4);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-6);
    background-color: var(--color-gray-100);
    border-radius: var(--radius-default);
}

.main__customers_list li article figure img {
    width: 100%;
}

.main__customers_list li article div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-4);
}

.main__customers_list li article div p {
    text-align: center;
    line-height: 1.5;
}

/* tablet */
@media (40rem <= width < 64rem){
    .main__customers_list li article {
        flex-direction: row;
    }
} 

/* desktop */
@media (width >= 64rem){} 