@import url('./global.css');
@import url('./mcn-grid.css');
@import url('./header.css');
@import url('./main-hero.css');
@import url('./main-partners.css');
@import url('./main-abount.css');
@import url('./main-customers.css');
@import url('./main-do.css');