@import url('./global.css');

main {
    width: 90%;
    max-width: 70rem;

    border-radius: 12px;


    box-shadow: 0 6px 18px rgba(0,0,0,0.08);

    h1 {
        text-align: center;
    }

    .contact_list {
        width: 100%;
        height: 100%;
        padding: 1rem;

        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;


        .contact  {
            flex-basis: 13.5rem;
            background-color: var(--color-tone-white);
            article {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;

                aside {
                    width: 100%;
                    height: 13.5rem;

                    background-image: url('../image/thumb06.jpg');
                    position: relative;

                    img {
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 3.75rem;
                        border-radius: 50%;
                    }
                }
                .data {
                    flex: 1;
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border: 1px solid red;

                    .name {
                        font-size: 1.5rem;
                    }
                }
            }

}