.header-nav {
    width: 100%;
    background-color: var(--color-primary);

    position: fixed;
    top: 0;
    left: 0;
}

.header-nav .header-nav__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav .header-nav__nav ul {
    display: flex;
    gap: 1rem;
}

.header-nav .header-nav__nav ul li a {
    display: block;
    padding: .5rem 1rem;
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    font-weight: 900;
    text-transform: uppercase;
    transition: all .5s ease-in-out;
}

.header-nav .header-nav__nav ul li a:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}