#contact div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#contact div.container h3 {
    font-size: 2rem;
}

#contact div.container h3 img {
    width: 100%;
}

#contact div.container address {
    align-self: flex-end;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .3rem;

    font-weight: 600;
}