#courses div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

#courses div.container ul {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#courses div.container ul li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;

    border: 1px solid var(--color-secondary);
    border-radius: 10px;
    overflow: hidden;
}

#courses div.container ul li img {
    display: block;
    width: 100%;
}

#courses div.container ul li h3 {
    padding: 2rem;
}

#courses div.container ul li p {
    padding: 2rem;
    line-height: 1.5;
}