#home {
    background: #FFFF3D;
    background: linear-gradient(360deg, rgba(255, 255, 61, 1) 0%, rgba(255, 255, 245, 1) 100%);
}

#home div.container {
    display: flex;
    justify-content: space-between;
}

#home div.container div:nth-of-type(1) {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

#home div.container div:nth-of-type(1) h1 {
    font-size: 3rem;
    line-height: 1.2;
}

#home div.container div:nth-of-type(1) a.btn {
    align-self: flex-start;
}

#home div.container div:nth-of-type(2) img {
    width: 100%;
}