#school {
    background-color: var(--color-tertiary);
}

#school div.container {
    display: flex;
    align-items: center;
    gap: 3rem;
}

#school div.container div:nth-of-type(1) {
    width: 100%;
}

#school div.container div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#school div.container div:nth-of-type(2) h3 {
    font-size: 2rem;
    color: var(--color-clear);
}

#school div.container div:nth-of-type(2) p {
    color: var(--color-clear);
    line-height: 1.8;
}