@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');
@import url('./global.css');
@import url('./header.css');
@import url('./main.css');
@import url('./main-hero.css');
@import url('./main-courses.css');
@import url('./main-school.css');
@import url('./main-contact.css');
@import url('./footer.css');