@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    background: -webkit-linear-gradient(0deg, #282a6d,#5c60f0);                         
    background: linear-gradient(0deg, #282a6d,#5c60f0);
    font-family: "Roboto Mono", monospace;

    display: grid;
    place-items: center;
}

.cal-container {
    width: 350px;
    height: 500px;
    padding: 1rem;
    background-color: #52789d;
    border-radius: 8px;
    box-shadow: 10px 8px 10px black;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cal-screen {
    width: 100%;
    height: 65px;
    padding: 1rem;
    background-color: #272525;
    color: white;
    font-size: 2rem;
    font-weight: 900;
    border: 1px solid black;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.879); 

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cal-buttons {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: .5rem;
}

button {
    border: 2px solid black;
    border-left-color: #8a8a8a;
    border-top-color: #8a8a8a;
    background-color: #272525;
    color: white;
    font-size: 1.3rem;
    font-weight: 900;

    cursor: pointer;
    transition: all .5s ease-in-out;
}

button:active {
    transform: scale(.8);
}

.zero {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}

.mais {
    grid-column: 4 / 5;
    grid-row: 4 / 6;
}