p {
    padding: 1rem;
    background-color: aqua;
    border: 3px solid red;
    border-radius: 8px;
}

p.min-content {
    width: min-content;
}

p.max-content {
    width: max-content;
}

p.fit-content {
    width: fit-content;
}