* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
    padding-inline: 1rem;
}

.title h1 {
    padding: 1rem;
    text-align: center;
    background-color: cornflowerblue;
    color: aliceblue;
}

.title p {
    padding: 1rem;
    text-align: center;
}

h2 {
    padding: 1rem;
    background-color: darkgray;
    color: darkblue;
    border-bottom: 3px solid darkblue;
}


.objective p {
    padding: 1rem;
}

.experience ul {
    list-style: none;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.experience ul li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.experience ul li h3 span {
    color: deepskyblue;
}

.training ul {
    list-style: none;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.training ul li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.courses ul:nth-of-type(1) {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.courses ul:nth-of-type(2) {
    list-style: none;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}