:root{
  --color-primary: #3a68b7;
  --color-text-light: #ffffff;
  --color-text-muted: #999999;
  --color-shadow: rgba(0,0,0,0.3);
  font-family: "Lato", sans-serif;
}

body {
    height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
}

.btn {
    text-decoration: none;
    width: fit-content;
    padding: 1rem;
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: 700;
    border: none;
    border-radius: 4px;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-text-light);
}