* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}



body {
    min-height: 100dvh;
    background-image: url('../imagens/bg-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;

    display: grid;
    place-items: center;
}

main {
    padding: 1rem;
    width: 90%;
    max-width: 63rem;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

main h1 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
}

main p.subtitulo {
    padding: 1rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-bottom: 3px solid #fff;
}

main ul {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: #fff;
}

main ul li {
    position: relative;
}

main ul li p {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}