.ex1 {
    div {
        display: flex;
        align-items: center;

        img {
            width: 400px;
        }
    }
}

.ex2 {
    background-color: blue;
    div {
        display: flex;
        align-items: center;
    }
}

.ex3 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    .html img {
        float: left;
    }

    .css img {
        float: right;
    }

    p {
        font-size: 28px;
        font-family: sans-serif;
        line-height: 1.5;
    }
}

.ex5 {
    height: 100vh;
    background-image: url('./imagens/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
}