<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include "base/partials/head.html" %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header class="header-main">
       <div class="container">
        <nav class="nav-desktop">
            <ul>
                <li>
                    <a href="">
                        <h2>MyBlog</h2>
                    </a>
                </li>
                <li>
                    <a href="">
                        Todos os Posts
                    </a>
                </li>
                <li>
                    <a href="">
                        Sobre Nosso Blog
                    </a>
                </li>
            </ul>
            <button>
                <i class="bi bi-search"></i>
                <span>Pesquisar Posts...</span>
            </button>
            <ul>
                <li>
                    <a href="">
                        Login
                    </a>
                </li>
                <li>
                    <a href="">
                        Registrar-se
                    </a>
                </li>
            </ul>
        </nav>
       </div>
    </header>

    <dialog id="search-dialog">
        <form action="" method="post">
            {% csrf_token %}
            <input type="search" name="" id="">
            <button type="submit">
                <i class="bi bi-search"></i>
            </button>
        </form>
        <button class="close-search">X</button>
    </dialog>
</body>
</html>