<article class="artcile-card">
    <div class="div-cover">
        <img src="{{post.cover.url}}" alt="">
    </div>
    <div class="div-title">
        <h2>
            {{post.title}}
        </h2>
    </div>
    <div class="div-preview">
        <p>
            {{post.content|truncatewords:50}}...
        </p>
    </div>
    <div class="div-author">
        <span>
            {{post.author}}
        </span>
        <span>
            {{post.created_at}}
        </span>
    </div>
    <div class="div-action">
        <a href="">Leia mais...</a>
    </div>
</article>