<nav class="nav-mobile">
    <ul>
        <li>
            <a href="">
                <h2>
                    MyBlog
                </h2>
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <button type="button" id="open-search-mobile">
                <i class="bi bi-search"></i>    
            </button>
        </li>
        <li>
            <button type="button" id="open-menu-mobile">
                <i class="bi bi-list"></i>
            </button>
        </li>
    </ul>
</nav>