*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #7b3d3e;
}

h1 {
    color: #fff;
    text-align: center;
}

ul {
    width: 62.5rem;
    max-width: 80%;
    margin: 5rem auto;
    
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    counter-reset: n;

}

ul li {
    background-color: #fff;
    flex-basis: 18.75rem;
    height: 12rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    counter-increment: n;
    position: relative;

    /* box-shadow: 5px 5px 10px 5px rgb(0 0 0 / .5); */
    filter: drop-shadow(5px 5px 10px 5px rgb(0 0 0 / .5));
    overflow: hidden;
}

ul li::after {
    content: counter(n);
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}

ul li:nth-of-type(1)::before,
ul li:nth-of-type(2)::before,
ul li:nth-of-type(3)::before {
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    background-color: #7b3d3e;
    position: absolute;
    left: -40px;
    top: -40px;
    transform: rotate(45deg);
    z-index: 3;
}

span {
    display: block;
    background-color: #fff;
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: -20px;
    left: -20px;
    transform: rotate(-10deg);
    box-shadow: 5px 5px 10px 5px rgb(0 0 0 / .5);
    z-index: 2;
}
