<main class="main-content-container">
    <div class="container">
        <ul class="main-list">
            <li class="card-recipes">
                <article class="card-item">
                    <header class="recipes-cover">
                        <img src="https://placehold.co/1280x720/orange/white" alt="">
                    </header>
                    <main class="recipes-main">
                        <section class="recipes-card-title-container">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        </section>
                        <section class="recipes-card-author-container">
                        <ul>
                            <li>
                                <i class="fa-solid fa-user"></i>
                                <span><strong>Ótavio Miranda</strong></span>
                            </li>
                            <li>
                                <i class="fa-solid fa-calendar-days"></i>
                                <span>16/11/25 às 23:43</span>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa-solid fa-layer-group"></i>
                                    <span>Café da manhã</span>
                                </a>
                            </li>
                        </ul>
                        </section>
                        <section class="recipes-card-description-container">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur 
                            adipisicing elit. Doloribus delectus perspiciatis 
                            ex. Eligendi et ullam, fugiat, eaque quis nemo 
                            dolore voluptatem ea delectus libero obcaecati 
                            consequatur cumque omnis neque placeat.
                        </p>
                        </section>
                        <section class="recipes-card-meta-container">
                        <div class="recipes-card-meta-duration">
                            <i class="fa-solid fa-clock"></i>
                            <span>
                                0 Minutos
                            </span>
                        </div>
                        <div class="recipes-card-meta-preparation">
                            <i class="fa-solid fa-pizza-slice"></i>
                            <span>
                                0 Porçoes
                            </span>
                        </div>
                        </section>
                    </main>
                    <footer class="recipes-card-footer">
                        <a href="">
                            <i class="fa-solid fa-eye"></i>
                            <span>ver mais...</span>
                        </a>
                    </footer>
                </article>
            </li>
            <li class="card-recipes">
                <article class="card-item">
                    <header class="recipes-cover">
                        <img src="https://placehold.co/1280x720/orange/white" alt="">
                    </header>
                    <main class="recipes-main">
                        <section class="recipes-card-title-container">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        </section>
                        <section class="recipes-card-author-container">
                        <ul>
                            <li>
                                <i class="fa-solid fa-user"></i>
                                <span><strong>Ótavio Miranda</strong></span>
                            </li>
                            <li>
                                <i class="fa-solid fa-calendar-days"></i>
                                <span>16/11/25 às 23:43</span>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa-solid fa-layer-group"></i>
                                    <span>Café da manhã</span>
                                </a>
                            </li>
                        </ul>
                        </section>
                        <section class="recipes-card-description-container">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur 
                            adipisicing elit. Doloribus delectus perspiciatis 
                            ex. Eligendi et ullam, fugiat, eaque quis nemo 
                            dolore voluptatem ea delectus libero obcaecati 
                            consequatur cumque omnis neque placeat.
                        </p>
                        </section>
                        <section class="recipes-card-meta-container">
                        <div class="recipes-card-meta-duration">
                            <i class="fa-solid fa-clock"></i>
                            <span>
                                0 Minutos
                            </span>
                        </div>
                        <div class="recipes-card-meta-preparation">
                            <i class="fa-solid fa-pizza-slice"></i>
                            <span>
                                0 Porçoes
                            </span>
                        </div>
                        </section>
                    </main>
                    <footer class="recipes-card-footer">
                        <a href="">
                            <i class="fa-solid fa-eye"></i>
                            <span>ver mais...</span>
                        </a>
                    </footer>
                </article>
            </li>
            <li class="card-recipes">
                <article class="card-item">
                    <header class="recipes-cover">
                        <img src="https://placehold.co/1280x720/orange/white" alt="">
                    </header>
                    <main class="recipes-main">
                        <section class="recipes-card-title-container">
                        <h2>Lorem ipsum dolor sit amet.</h2>
                        </section>
                        <section class="recipes-card-author-container">
                        <ul>
                            <li>
                                <i class="fa-solid fa-user"></i>
                                <span><strong>Ótavio Miranda</strong></span>
                            </li>
                            <li>
                                <i class="fa-solid fa-calendar-days"></i>
                                <span>16/11/25 às 23:43</span>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa-solid fa-layer-group"></i>
                                    <span>Café da manhã</span>
                                </a>
                            </li>
                        </ul>
                        </section>
                        <section class="recipes-card-description-container">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur 
                            adipisicing elit. Doloribus delectus perspiciatis 
                            ex. Eligendi et ullam, fugiat, eaque quis nemo 
                            dolore voluptatem ea delectus libero obcaecati 
                            consequatur cumque omnis neque placeat.
                        </p>
                        </section>
                        <section class="recipes-card-meta-container">
                        <div class="recipes-card-meta-duration">
                            <i class="fa-solid fa-clock"></i>
                            <span>
                                0 Minutos
                            </span>
                        </div>
                        <div class="recipes-card-meta-preparation">
                            <i class="fa-solid fa-pizza-slice"></i>
                            <span>
                                0 Porçoes
                            </span>
                        </div>
                        </section>
                    </main>
                    <footer class="recipes-card-footer">
                        <a href="">
                            <i class="fa-solid fa-eye"></i>
                            <span>ver mais...</span>
                        </a>
                    </footer>
                </article>
            </li>        
        </ul>
    </div>
</main>