:root{
  --bg-page: #181818;
  --bg-form: #0e1010;

  --text-primary: #ffffff;
  --text-muted: #8e999a;

  --input-bg: rgba(0,0,0,0.3);
  --input-bg-focus: #2a2727;
  --input-border-default: #bbbbbb;

  --accent-error: #ff000d;
  --accent-success: #0ec72a;
  --accent-focus: #8e999a;

  --btn-bg: #2a2727;
  --btn-text: #ffffff;
}

.form-contact {
    width: 90%;
    max-width: 35rem;
    margin: 5rem auto;
    background-color: var(--bg-form);
    padding: 1rem;

}

.form-contact fieldset {
    border: none;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-contact fieldset legend {
    font-size: 1.2rem;
    color: var(--text-muted);
    text-align: center;
    margin-bottom: 2rem;
}

.form-contact fieldset div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-contact fieldset div input, .form-contact fieldset div textarea {
    padding: 1rem;
    background-color: var(--input-bg);
    border-radius: 4px;
    border: none;
    border-bottom: 2px solid var(--input-border-default);
}

.form-contact fieldset div textarea {
    resize: none;
}

.form-contact fieldset div input:focus, .form-contact fieldset div textarea:focus {
    outline: none;
    background-color: var(--input-bg-focus);
}

.form-contact fieldset div input:focus:valid, .form-contact fieldset div textarea:focus:valid {
    border-bottom-color: var(--accent-success);
}

.form-contact fieldset div input:focus:invalid, .form-contact fieldset div textarea:focus:invalid {
    border-bottom-color: var(--accent-error);
}


.form-contact fieldset button {
    width: fit-content;
    padding: 1rem;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: none;
    border-radius: 4px;
    cursor: pointer;

    align-self: flex-end;
}