@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #004EDA;
    --text-color: #5A5A5F;
    --title-color: #000;

    --bg-body: #D9D9D9;
    --bg-section: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

h1, h2 {
    color: var(--title-color);
}

body {
    max-height: 100dvh;

    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-rows: 4rem 1fr;

    background-color: var(--bg-body);
    color: var(--text-color);
}

#header {
    padding-inline: 1rem;
    grid-column: 1 / 3;
    background-color: var(--bg-section);

    display: flex;
    align-items: center;
    gap: 3rem;

    h1 a {
        color: var(--title-color);
        font-weight: 400;
    }

    .header__nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            align-items: center;
            gap: 2rem;

            li a {
                display: flex;
                align-items: center;
                gap: .5rem;
                color: var(--text-color);
            }
        }

        article {
            strong {
                color: var(--title-color);
            }

            p {
                font-size: .8rem;
            }
        }
    }
}

#aside {
    padding: 1rem;
    grid-row: 2 / 3;
    background-color: var(--bg-section);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
        color: var(--text-color);
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    .aside__nav {

        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
}

#main {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 5.5rem repeat(2, 1fr);
    gap: 1rem;

    .main__header {
        padding: 1rem;
        grid-column: 1 / 3;
        background-color: var(--bg-section);

        display: flex;
        align-items: center;
        gap: 2rem;

        ul {
            flex: 1;

            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
                padding: 1rem;
                display: flex;
                align-items: center;
                gap: .5rem;

                &:nth-of-type(2), &:nth-of-type(3) {
                    border-left: 2px solid var(--text-color);
                }

                span {
                    color: var(--primary-color);
                    font-weight: 700;
                }
            }
        }

        button {
            background-color: var(--primary-color);
            border: none;
            padding: 1rem 2rem;
            border-radius: 8px;
            color: var(--bg-section);
        }
    }

    .main__dash1 {
        grid-column: 1 / 3;
        grid-row: 2 / 3;

        background-color: var(--bg-section);
    }

    .main__dash2 {
        grid-row: 3 / 4;
        grid-column: 1 / 2;

        background-color: var(--bg-section);
    }

    .main__dash3 {
        grid-row: 3 / 4;
        grid-column: 2 / 3;

        background-color: var(--bg-section);
    }

     img {
            width: 100%;
        }
}