.cards {
    margin-top: 3rem;

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        li {
            width: 100%;
            

            article {
                padding: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;

                svg {
                    fill: var(--primary-color);
                }

                h3 {
                    font-size: 1.5rem;
                    text-transform: uppercase;
                }

                p {
                    line-height: 1.9;
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
}

@media (min-width: 51.25rem) {
    .cards {

        ul {
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
            flex-wrap: wrap;

            li {
                max-width: 12.5rem;

                article {
                    padding: 0;
                    h3 {
                        font-size: 1.4rem;
                    }

                }
            }
        }
    }
}