.header-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    img {
        width: 90%;
    }

    nav ul {
        display: flex;
        flex-direction: column;

        li {
            width: 100%;
            background-color: aqua;
        }
    }
}