.option {
    margin-top: 3rem;

    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        li {
            width: 90%;
            margin: 0 auto;

            article {
                
                .option_img {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }

                .option_content {

                    h3 {
                        font-size: 2rem;
                        letter-spacing: .125rem;
                    }

                    p {
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}

@media (min-width: 51.25rem) {
    .option {

        ul {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;

            li {
                width: 45%;
                height: 200px;

                article {
                    height: 100%;
                    display: flex;
                    gap: 1rem;

                    .option_img {
                        width: 400px;
                        aspect-ratio: 1 / 1;
                      
                        img {
                           width: 100%;
                           height: 100%;
                           object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}