@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --color-primary: oklch(70.7% 0.165 254.624);
    --color-secondary: oklch(38.6% 0.063 188.416);
    --color-tertiary: oklch(21% 0.006 285.885);
    --color-quarantine: oklch(92% 0.004 286.32);
    --color-tone-white: oklch(92.3% 0.003 48.717);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
}

body {
    height: 100dvh;
    background-color: var(--color-primary);
    font-family: "Lato", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    h1, h2, h3, h4, h5, h6 {
        font-family: "Merriweather Sans", sans-serif;
    }
}
