@import url('./global.css');

main {
    width: 80%;
    max-width: 25rem;
    height: 90%;
    max-height: 28.125rem;
    background-color: var(--color-tone-white);

    border-radius: 12px;
    overflow: auto;

    box-shadow: 0 6px 18px rgba(0,0,0,0.08);

    .contact_list {
        width: 100%;
        height: 100%;
        padding: 1rem;

        .contact  {
            border-bottom: 1px solid var(--color-tertiary);
            padding-block: 1rem;

            article {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 1.5rem;

                aside img {
                    width: 3.75rem;
                    border-radius: 50%;
                }
            }
        }
    }
}