<main class="main-recipe-detail">
    <div class="container">
        <article class="recipe-card-detail">
            <header class="recipe-cover">
                <img src="{{ recipe.cover.url }}" alt="">
            </header>
            <main class="recipe-main">
                    <section class="recipe-card-title-container">
                    <h1>{{ recipe.title }}</h1>
                    </section>
                    <section class="recipe-card-author-container">
                    <ul>
                        <li>
                            <i class="fa-solid fa-user"></i>
                            <span><strong>{{ recipe.author.username }}</strong></span>
                        </li>
                        <li>
                            <i class="fa-solid fa-calendar-days"></i>
                            <span>{{ recipe.created_at|date:"d/m/Y" }} às {{ recipe.created_at|date:"H:i" }}</span>
                        </li>
                        <li>
                            <a href="{% url "recipes:category" recipe.category.name %}">
                                <i class="fa-solid fa-layer-group"></i>
                                <span>{{ recipe.category.name }}</span>
                            </a>
                        </li>
                    </ul>
                    </section>
                    <section class="recipe-card-description-container">
                    <p>
                        {{ recipe.preparetion_steps|linebreaks }}
                    </p>
                    </section>
                    <section class="recipe-card-meta-container">
                    <div class="recipe-card-meta-duration">
                        <i class="fa-solid fa-clock"></i>
                        <span>
                            {{ recipe.preparetion_time }} {{ recipe.preparetion_unit }}
                        </span>
                    </div>
                    <div class="recipe-card-meta-preparation">
                        <i class="fa-solid fa-pizza-slice"></i>
                        <span>
                            {{ recipe.servings }} {{ recipe.servings_unit }}
                        </span>
                    </div>
                    </section>
                </main>
                <footer class="recipe-card-footer">
                    <a href="">
                    </a>
                </footer>
        </article>
    </div>
</main>