<main class="main-recipe-detail">
    <div class="container">
        <article class="recipe-card-detail">
            <header class="recipe-cover">
                <img src="https://placehold.co/1280x720/orange/white" alt="">
            </header>
            <main class="recipe-main">
                    <section class="recipe-card-title-container">
                    <h1>Lorem ipsum dolor sit amet.</h1>
                    </section>
                    <section class="recipe-card-author-container">
                    <ul>
                        <li>
                            <i class="fa-solid fa-user"></i>
                            <span><strong>Ótavio Miranda</strong></span>
                        </li>
                        <li>
                            <i class="fa-solid fa-calendar-days"></i>
                            <span>16/11/25 às 23:43</span>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa-solid fa-layer-group"></i>
                                <span>Café da manhã</span>
                            </a>
                        </li>
                    </ul>
                    </section>
                    <section class="recipe-card-description-container">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur 
                        adipisicing elit. Doloribus delectus perspiciatis 
                        ex. Eligendi et ullam, fugiat, eaque quis nemo 
                        dolore voluptatem ea delectus libero obcaecati 
                        consequatur cumque omnis neque placeat.
                    </p>
                    </section>
                    <section class="recipe-card-meta-container">
                    <div class="recipe-card-meta-duration">
                        <i class="fa-solid fa-clock"></i>
                        <span>
                            0 Minutos
                        </span>
                    </div>
                    <div class="recipe-card-meta-preparation">
                        <i class="fa-solid fa-pizza-slice"></i>
                        <span>
                            0 Porçoes
                        </span>
                    </div>
                    </section>
                </main>
                <footer class="recipe-card-footer">
                    <a href="">
                        <i class="fa-solid fa-eye"></i>
                        <span>ver mais...</span>
                    </a>
                </footer>
        </article>
    </div>
</main>