:root {
    --color-primary: #702cf5;
    --color-secondary: #ede4fd;
    --color-tertiary: #15172a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100dvh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-primary);
}

header a {
    display: block;
    color: var(--color-secondary);
}

header .nav-main ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header button {
    width: 18.75rem;
    padding: .5rem;
    background-color: transparent;
    border: 1px solid var(--color-secondary);
    border-radius: 8px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

header button i, header button span {
    color: var(--color-secondary);
}

header .nav-social ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#my-popover::backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

#my-popover:popover-open {
    width: 40%;
    height: 10rem;
    margin: 10rem auto;
    background-color: var(--color-tertiary);
    border: 3px solid var(--color-primary);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#my-popover .search {
    width: 25rem;
    padding: 1rem;
    background-color: #000;
    border-radius: 8px;

    display: flex;
    align-items: center;
    gap: 1rem;
}

#my-popover .search i {
    color: var(--color-secondary);
    font-size: 1.2rem;
}

#my-popover .search input {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--color-secondary);
    font-size: 1.2rem;
}